body {
  width: 960px;
  margin: auto;
  background-color: lightgray
}

#buttons {
  margin-top: 10px;
}

.animal {
  margin-left: 10px;
  background-color: lightblue;
}

#gifDiv {
  display: inline-block;
  width: 960px;
  margin-top: 10px;
}

.rating {
  margin: 10px;
}

.container {
  width: 960px;
}

form, label, input, #submit, #error {
  display: block;
  margin: auto;
  margin-bottom: 10px;
  text-align: center;
}

#submit {
  background-color: lightblue;
}
